* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #eceff1;
}

a {
    text-decoration: none;
    color: #254c65;
    transition: color .2s;
}

a:hover {
    color: rgb(0, 31, 51)
}

.main-header {
    width: 100%;
    height: 55px;
    background-color: rgb(0, 31, 51);
}

.main-header > nav > ul > li > a {
    color: inherit;
}

.main-header > nav > ul > li {
    display: inline-block;
    color: #6ec6ff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 17px;
    margin-right: 25px;
    transition: color .2s;
}

.main-header > nav > ul > li:hover {
    color: #44789b;
}

.main-header > nav > ul {
    width: fit-content;
    margin: 0 auto;
    display: block;
}

.main-header > nav > ul > li:last-child {
    margin-right: 0;
}

.email {
    color: #3e7ba3;
    transition: color .2s;
}

.email:hover {
    color: rgb(0, 31, 51);
}

.container {
    max-width: 850px;
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.profile-pic {
    margin: 0 auto;
    display: block;
}

.container > .name-title {
    color: #6ec6ff;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    width: 100%;
    letter-spacing: 12px;
    filter: drop-shadow(rgb(0, 31, 51) 3px 0px 0px);
    font-size: 35px;
}

.container > .description-title {
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 21px;
    margin-top: -20px;
    padding-bottom: 20px;
}

p {
    text-align: left;
    line-height: 25px;
    font-size: 17px;
    padding-bottom: 20px;
}

.nu > a {
    color: inherit;
    text-decoration: inherit;
}

.nu {
    font-weight: 600;
    color: rgb(78, 42, 132);
    transition: opacity .2s;
}

.nu:hover {
    opacity: .7;
}

.google-link {
    transition: opacity .2s;
}

.google-link:hover {
    opacity: .7;
}

.google-blue {
    font-weight: 600;
    color: #4285f4;
}

.google-red {
    font-weight: 600;
    color: #ea4335;
}

.google-yellow {
    font-weight: 600;
    color: #fbbc05;
}

.google-green {
    font-weight: 600;
    color: #34a853;
}

.apple-link {
    font-weight: 600;
}

h3 {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 10px;
    color: rgb(0, 31, 51);
}

.date {
    font-style: italic;
    font-weight: 500;
}

.paper {
    text-align: left;
    padding-bottom: 20px;
}

.paper > h1 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    transition: color .2s;
    color: rgb(54, 87, 108)
}

.paper > h1:hover {
    color: rgb(0, 31, 51);
}

.paper > h1 > a {
    text-decoration: none;
    color: inherit;
}

.box-card {
    background-color: white;
    padding-top: 18px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container-padding {
    padding-left: 25px;
    padding-right: 25px;
}

.links {
    padding-top: 0;
    margin-top: -15px;
}

@media (max-width: 414px) {
    .main-header > nav > ul > li {
        font-size: 15px;
        margin-top: 18px;
    }
}

@media (max-width: 375px) {
    .main-header > nav > ul > li {
        margin-right: 19px;
    }
}

@media (max-width: 360px) {
    .main-header > nav > ul > li {
        margin-right: 17px;
    }
}