@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap');

$background-light: #D6DCE8;

$text-color-light: #FDF6EF;
$text-color-dark: #EEA660;
$text-color-extra-dark: #282F3F;
$text-color-northwestern: #8865AF;
$text-color-northwestern-dark: #50386C;

$title-color: #C6735E;
$title-color-secondary: #5B6F92;

@mixin props {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body, html {
    height: 100%;
}

body {
    @include props;
    background: $background-light;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .1s;
    &:hover {
        color: $text-color-dark;
    }

    img {
        transition: filter .2s;
        &:hover {
            filter: brightness(1.5);
        }
    }
}

.skinny {
    font-weight: 300;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.italic {
    font-style: italic;
}

.northwestern {
    color: $text-color-northwestern;
    font-weight: 600;
    font-style: italic;

    a {
        &:hover {
            color: $text-color-northwestern-dark !important;
        }
    }
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
}

h2 {
    font-size: 24px;
    letter-spacing: 1.9px;
    text-align: center;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2.invert {
    color: $title-color-secondary;
}

p {
    color: $text-color-extra-dark;
}

p.light {
    color: $text-color-light;

    a {
        &:hover {
            color: $text-color-dark;
        }
    }
}

p.large {
    font-size: 24px;
    line-height: 31px;
    margin-top: 48px;
}

#root {
    @include props;
}

.content {
    flex: 1 0 auto;
}

.spacer {
    margin-right: 36px;
}

footer {
    flex: 0;
}