@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

$background-light: #D6DCE8;

$text-color-light: #7ca3c3;
$text-color-dark: #EEA660;
$text-color-extra-dark: #282F3F;
$text-color-northwestern: #927ca8;
$text-color-northwestern-dark: #50386C;

$title-color: #715391;
$title-color-secondary: #b1c2e2;

@mixin props {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body, html {
    height: 100%;
}

body {
    @include props;
    background: $background-light;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .1s;
    &:hover {
        color: $text-color-dark;
    }

    img {
        transition: filter .2s;
        &:hover {
            filter: brightness(1.5);
        }
    }
}

.highlight {
    color: #FFFFFF !important;
}

.skinny {
    font-weight: 300;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.northwestern {
    color: $text-color-northwestern;
    font-weight: 700 !important;

    a {
        &:hover {
            color: $text-color-northwestern-dark !important;
        }
    }
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
}

h2 {
    font-size: 24px;
    letter-spacing: 1.9px;
    text-align: center;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2.invert {
    color: $title-color-secondary;
}

p {
    color: $text-color-extra-dark;
    font-size: 17px;
}

p.light {
    color: $text-color-light;

    a {
        &:hover {
            color: $text-color-dark;
        }
    }
}

p.large {
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 22px;
    max-width: 839px;
}

#root {
    @include props;
}

.content {
    flex: 1 0 auto;
}

.spacer {
    margin-right: 36px;
}

.jumbo-text {
    height: fit-content;
    top: -8px;
    bottom: 0;
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: block;
    width: 100%;
    position: absolute;
}

.card {
    &:hover {
        &:first-child {
            box-shadow: 0px 1px 20px 8px rgba(0, 0, 0, 0.62) !important;
        }
        &:last-child {
            box-shadow: 0px 1px 20px 8px rgba(0, 0, 0, 0.35) !important;
        }
        box-shadow: 0px 1px 20px 8px rgba(0, 0, 0, 0.50) !important;
        
    }
    &:not(:last-child) {
        margin-right: 35px;
    }
    &:first-child {
        box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.62);
    }
    &:last-child {
        box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.35);
    }

    img {
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
        overflow: hidden;
        height: fit-content;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
}

footer {
    flex: 0;
}